.busca-terceiro {
  > .buttons {
    display: flex;
  
    > .unicred-buttons:first-child {
      margin-right: 35px;
    }
  }
  
  > .fields {
    > .unicred-field {
      max-width: 245px;
      margin-bottom: 35px;
    }
  }

  .unicred-field {
    .garantia-loader {
      @include loader();
      position: absolute;
      top: 50%;
      right: 5px;
      width: 18px;
      height: 18px;
      margin-top: -9px;
    }
  }
}