.dados-simulador-credito-pessoal {
  .unicred-field {
    > .control > .input {
      border: 1px solid #cccccc;
      height: 35px;
      font-size: 14px;
      color: inherit;
      text-transform: uppercase;
    }

    .unicred-button {
      height: 35px;
      transition: none;
    }
  }

  .conta-cooperado {
    min-width: 190px;
  }
}