.garantia-veiculo {
  .new-vehicle .unicred-modal-card > .body {
    padding: 26px 42px;
  }

  .new-vehicle .legend {
    color: #4A4A4A;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
  }
}