.liberacao-proposta {
  .status-liberacao {
    min-height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: initial;
    flex-direction: column;
  
    .alert-icon.success {
      background: $cc-btnConfirma;
    }
  
    .loading-wrapper .error-icon img {
      max-width: 50px;
    }
  }

  .dados-incompletos {
    > .message {
      color: #4A4A4A;
      font-size: 16px;
    }

    .lista-veiculos {
      margin-top: 38px;
    }

    > .actions {
      display: flex;
      justify-content: flex-end;
      margin-top: 83px;

      > .unicred-button {
        margin-left: 10px;
      }
    }
  }
}