$font-weiht: 300;
$radius-border-default: 3px;

.container-wrapper {
  .lista-wrapper {
    padding: 110px;
    hr {
      border: 1px solid #4E4F51;
      width: 100%;
      margin-top: 10px;
      margin-bottom: 6px;
    }
    .title {
      text-align: left;
    }
  }
}

.table {
  .thead {
    tr {
      line-height: 19px;
      th {
        font-size: 14px;
        color: #A8B3B1;
        border: none;
        font-weight: $font-weiht;
      }
      .action-colun {
        text-align: right;
      }
    }
  }
  .tbody {
    tr {
      border-bottom: 2px solid #4E4F51;
      td {
        border: none;
        text-align: left;
        color: #FFFFFF;
        font-weight: $font-weiht;
        vertical-align: bottom;
        i {
          cursor: pointer;
        }
        .approve {
          border-radius: $radius-border-default;
          border: 1px solid #48D2A0;
          color: #48D2A0;
          padding: 5px;
        }
      }
      .nome {
        width: 40%;
      }
      .percentual {
        width: 30%
      }
      .valor {
        width: 15%;
      }
      .action-wrapper {
        width: 15%;
        text-align: center;
      }
    }
  }
}
