.select-cooperativa {
    margin-bottom: 20px !important;
    padding-left: 0 !important;
    &:after {
        clear: both;
        display: table;
        position: relative;
        content: "";
    }
}

.login-content_form .select2-container {
    width: 100%;
    float: right;
    .select2-choice {
        height: 49px;
        outline: none;
        border: 1px solid #FFF;
        border-radius: 5px;
        background: #ededed;
        > .select2-chosen {
            height: 100%;
            line-height: 50px;
            font-size: 18px;
            margin-left: 7px;
            font-weight: normal;
            color: #999;
        }
        .select2-arrow {
            background: none;
            border: 0;
            b {
                background-position: -4px 13px;
            }
        }
    }
}

.select2-drop {
    margin-top: -3px;
    &-active {
        border-color: #00d7be;
        background: #ededed;
    }
}

.login-content_form .select2-container-active {
    .select2-choice {
        border-color: #00d7be !important;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 215, 190, 0.6) !important;
        outline: none;
    }
}
