.table-garantia-container {

  > .title {
    color: #4E4F51;
    font-size: 16px;
    font-weight: 500;
  }

  > .title-veiculo {
    color: #008777;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;

    > .unicred-button {
      margin-left: 15px;
    }
  }
}

.table-garantia {
  width: calc(100% + 16px + 16px);
  margin: 0 -16px;

  > thead > tr,
  > tbody > tr,
  > tr {

    &.-disabled {
      > td,
      > th {
        color: #CDCDCD;
      }

      .unicred-tooltip {
        transform: translate3d(200px, -8px, 0);
      }

      &:hover {
        .unicred-tooltip::after,
        .unicred-tooltip::before {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    &.-expanded {
      background-color: #F2F2F2;

      .infos-veiculos {
        padding-top: 6px;
      }
    }

    > th {
      color: #4E4F51;
      font-size: 12px;
    }
    
    > td {
      font-size: 14px;

      &.actions {
        text-align: center;
        width: 40px;
      }
    }

    > td,
    > th {
      color: #4E4F51;
      padding: 6px 0;
      text-align: left;
      border-bottom: 1px solid #DEDEDE;

      &.linebadge {
        width: 16px;
        position: relative;
        border-bottom: none;
      }
    }
  }

  &.-vehicle {
    > thead > tr,
    > tbody > tr,
    > tr {
      &:not(.-expanded) {
        > td:last-child,
        > th:last-child {
          text-align: center;
          width: 42px;
        }
      }
    }
  }

  .line-badge {
    position: absolute;
    top: 0;
    bottom: -1px;
    width: 16px;
    border-radius: 5px 0 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;

    &.-primary {
      background-color: #48D2A0;
    }
    
    &.-warning {
      background-color: #FFBD02;
    }
  }
}