veiculo-form {
  display: block;
}

.veiculo-form {
  > .subtitle {
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 25px;
    margin-bottom: 21px;
  }

  > .actions {
    display: flex;
    padding-top: 25px;
    justify-content: flex-end;

    > .unicred-button {
      margin-left: 15px;
    }
  }
}