.unicred-checkradio {
  
  > input[type=radio],
  > input[type=checkbox] {
    outline: 0;
    user-select: none;
    display: inline-block;
    position: absolute;
    opacity: 0;

    &:checked + .checkmark {
      background-color: #48D2A0;
      
      &::after {
        opacity: 1;
      }
    }
  }

  > .checkmark {
    display: inline-flex;
    position: relative;
    height: 21px;
    width: 21px;
    border: 1px solid #48D2A0;
    border-radius: 50%;
    justify-content: center;
    align-items: center;

    &::after {
      content: '';
      opacity: 0;
      display: inline-flex;
      height: 7px;
      width: 7px;
      border-radius: 50%;
      background-color: #FFFFFF;
    }
  }


}

