// TODO: Globalizar esse map de colors
$colors: (
  primary: (#008777, #0A7265),
  secondary: (#48D2A0, #3CA581),
  info: (#5098BC, #417D9B),
  warning: (#FFBD02, #ECAF01),
  danger: (#F54B5E, #C43343),
);

.unicred-field {
  margin-bottom: 10px;

  > .label {
    display: block;
    width: 100%; 
    font-weight: normal;
    color: #4E4F51;
    font-size: 14px;
    
    &:not(:last-child) {
      margin-bottom: 4px;
    }
  }

  > .message {
    font-size: 12px;
    font-weight: normal;
    margin: 0;
    margin-top: 4px;


    @each $name, $pair in $colors {
      $color: nth($pair, 1);

      &.-#{$name} {
        color: $color;
      }
    }
  }

  > .control {
    position: relative;
    text-align: left;

    &.-addons {
      display: flex;
      justify-content: flex-start;

      &.-left {
        > .unicred-button {
          border-bottom-right-radius: 0;
          border-top-right-radius: 0;
          margin-right: -1px;
          z-index: 2;
        }
  
        > .input {
          border-bottom-left-radius: 0;
          border-top-left-radius: 0;
        }
      }
    }
  }

  > .control .input {
    border: 1px solid #D5DEDD;
    border-radius: 5px;
    padding: 10px;
    height: 40px;
    font-size: 13px;
    color: #677371;
    background: #FFF;
    max-width: 100%;
    width: 100%;
    font-weight: normal;

    &:focus,
    &.-focused,
    &:active,
    &.-active {
      border-color: #48D2A0;
    }

    &::placeholder {
      color: #A8B3B1;
    }

    // Colors
    @each $name, $pair in $colors {
      $color: nth($pair, 1);
      $color-darker: nth($pair, 2);

      &.-#{$name} {
        border-color: $color;

        &:focus,
        &.-focused,
        &:active,
        &.-active {
          border-color: $color-darker;
        }
      }
    }
  }

  > .control > .unicred-button {
    padding: 0 11px;
    width: 41px;
    padding: 0;

    > .fa {
      font-size: 20px;
    }
  }

  > .help {
    font-size: 12px;
    margin-top: -6px;

    // Colors
    @each $name, $pair in $colors {
      $color: nth($pair, 1);
      $color-darker: nth($pair, 2);

      &.-#{$name} {
        color: $color;

        &:focus,
        &.-focused,
        &:active,
        &.-active {
          color: $color-darker;
        }
      }
    }
  }
}