$icon-dimensions: 24px !default;
$icon-dimensions-small: 16px !default;
$icon-dimensions-medium: 32px !default;
$icon-dimensions-large: 48px !default;

$colors: (
  primary: (#008777, #0A7265),
  secondary: (#48D2A0, #3CA581),
  info: (#5098BC, #417D9B),
  warning: (#FFBD02, #ECAF01),
  danger: (#F54B5E, #C43343),
);

.unicred-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: $icon-dimensions;
  width: $icon-dimensions;
  font-size: $icon-dimensions;
  
  // Sizes
  &.-small {
    height: $icon-dimensions-small;
    width: $icon-dimensions-small;
    font-size: $icon-dimensions-small;
  }
    
  &.-medium {
    height: $icon-dimensions-medium;
    width: $icon-dimensions-medium;
    font-size: $icon-dimensions-medium;
  }
    
  &.-large {
    height: $icon-dimensions-large;
    width: $icon-dimensions-large;
    font-size: $icon-dimensions-large;
  }

  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    
    &.-#{$name} {
      color: $color;
    }
  }
}