.unicred-tooltip {
  position: relative;

  &:hover {
    &::before,
    &::after {
      opacity: 1;
      visibility: visible;
    }
  }

  &::before,
  &::after {
    z-index: 99999;
    position: absolute;
    display: inline-block;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
  }

  &::before {
    content: '';
    top: 0;
    bottom: auto;
    left: 50%;
    transform: translate3d(-8px, -8px, 0);
    border-color: rgba(74,74,74,0.9) transparent transparent transparent;
    border-style: solid;
    border-width: 8px;
  }

  &::after {
    content: attr(data-tooltip);
    max-width: 24rem;
    min-width: 24rem;
    overflow: hidden;
    text-align: center;
    padding: 4px 8px;
    background: rgba(74,74,74,0.9);
    border-radius: 3px;
    color: #fff;
    bottom: 100%;
    left: 50%;
    transform: translate3d(-50%, -8px, 0);
    font-size: 12px;
  }

  &.-bottom {
    &::after {
      top: 100%;
      bottom: auto;
      transform: translate3d(-50%, 8px, 0);
    }

    &::before {
      top: auto;
      bottom: 0;
      transform: translate3d(-8px, 8px, 0) rotate(180deg);
    }
  }
}