//MIXINS

@mixin bubble-style($color) {
    background-color: $color;
    color: $color;
    border-color: $cc-btnConfirma;
    &:before,
    &:after {
        background-color: $color;
        border-color: $cc-btnConfirma;
    }
}
@mixin bubbleWidth() {
    @for $i from 2 through 20{
        @include setLiWidth($i);
    }
}
@mixin setLiWidth($bubbles: 2){
    &:first-child:nth-last-child(#{$bubbles}),
    &:first-child:nth-last-child(#{$bubbles}) ~ li {
        width: (100% / $bubbles);
    }
}

//VARIABLES
$bubble-incomplete: #808285 !default;
$bubble-complete: #fff !default;

$bubble-shape-size: 17px !default;
$bubble-shape-line-thickness: 2px !default;
$border-shape-thickness: 2px !default;
$darken-shape-amount: 30% !default;

$mobile-size: 400px !default;


//CLASSES
.bubble-indicator {
    width: 100%;
    margin: 0 auto;
    padding: 10px 0px 0px;
    font-size: 80%;
    text-transform: uppercase;
    margin-bottom: 1em;

    &.unchangeable{
        > li{
            & a{
                pointer-events: none;
                cursor: default;
            }
        }
    }

    > li {

        @include bubbleWidth();

        list-style: none;
        text-align: center;
        padding: 0;
        margin: 0;
        position: relative;
        text-overflow: ellipsis;
        color: $bubble-incomplete;
        display: inline-block;
        vertical-align: text-top;
        line-height: 1.1em;
        & a:hover {
            @include transition(.2s all);
            color: $cc-btnConfirma;
            text-decoration: none;
        }

        & a{
            &:focus,
            &:active,
            &:target{
                box-shadow: 0px;
                border: 0px;
                outline: 0px;
            }
            color: $bubble-incomplete;
        }
    }

    > li .bubble {
        border-radius: 1000px;
        width: $bubble-shape-size;
        height: $bubble-shape-size;
        background-color: $bubble-incomplete;
        display: block;
        margin: 0.5em auto 0 auto;
    }

    > li .bubble:before,
    > li .bubble:after {
        display: block;
        position: absolute;
        bottom: $bubble-shape-size / 2 - 1px;
        width: 50%;
        height: $bubble-shape-line-thickness;
        content: '';
        background-color: $bubble-incomplete;
        z-index: -1;
    }
    > li .bubble:before {
        left: 0;
    }
    > li .bubble:after {
        right: 0;
    }

    > li.current{
        a{
            .bubble {
                border: $bubble-shape-line-thickness solid $cc-btnConfirma;
                background-color: $bubble-complete;
                &:after{
                    background-color: $bubble-incomplete !important;
                }

            }
            color: $bubble-complete;
            &:hover{
                color: $cc-btnConfirma;
            }
        }
    }

    > li.active {
        color: $active;
        .bubble {
            @include bubble-style($active);
        }
    }
}

@media handheld, screen and (max-width: $mobile-size) {
    .bubble-indicator {
        font-size: 60%;
    }
}
