.sidebar {
    width: 174px;
    height: calc(100vh - 55px);
    background: #FFF;
    @include clearfix;
    float: left;
    position: fixed;
    margin-top: 55px;
    z-index: 98;
    @include breakpoint(sx) {
        left: -200px;
        @include transition(.5s left);
        -moz-box-shadow:    0 0 15px #888 !important;
        -webkit-box-shadow: 0 0 15px #888 !important;
         box-shadow:        0 0 15px #888 !important;

        &.activeMenu{
            left: 0px;
        }
    }
    .dash-info {
        display: block;
        text-align: center;
        width: 100%;
        color: #a9a9a9;
        font-size: 13px;
        font-weight: 400;
        position: absolute;
        bottom: 30px;
        left: 0;
        line-height: 20px;
        .dash-username {
            text-transform: capitalize;
            display: block;
        }
        .dash-version {
            display: block;
        }
    }
    .user-logged {
        display: block;
        text-align: center;
        width: 100%;
        color: #a9a9a9;
        font-size: 13px;
        margin-right: 20px;
        font-weight: 400;
        .name {
            text-transform: capitalize;
        }
    }
    &-user {
        position: absolute;
        bottom: 20px;
        width: 100%;
        li {
            display: block;
            text-align: center;
            width: 100%;
            color: #a9a9a9;
            font-size: 13px;
            margin-right: 20px;
            font-weight: 400;
        }
        .logged {
            margin-bottom: 10px;
        }
        .help {
            .link {
                padding: 5px;
                color: #008777;
                text-decoration: underline;
                &:hover {
                    opacity: 0.8;
                    text-decoration: none;
                }
            }
        }
    }
    &-menu {
        width: 100%;
        li {
            &.subMenuOpen {
                > a {
                    &:after {
                        background-color: $cc-secondary !important;
                    }
                }
            }
        }
        a {
            width: 100%;
            text-decoration: none;
            color: #808285;
            font-size: 17px;
            font-weight: 400;
            display: table;
            padding: 12px 15px;
            position: relative;
            cursor: pointer;

            &.active{
                background-color: #009182;
                color: #FFF;

                &:after{
                    background-color: #009182;
                }
            }

            .btn-submenu {
                border: 0;
                background: none;
                color: #808285;
                float: right;
                text-align: center;
                cursor: pointer;
                top: -2px;
                position: relative;
                padding: 0 10px;

                &:hover {
                    opacity: 0.5;
                }

                &.active {
                    .fa-angle-down {
                        &:before {
                            content: "\f106";
                        }
                    }
                }
            }
            &:after {
                content: '';
                background-color: #ebebeb;
                height: 1px;
                display: block;
                width: 80%;
                margin: auto;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
            }
            &:hover {
                opacity: 0.8;
            }
            .fa {
                width: 35px;
                vertical-align: middle;
                font-size: 24px;
                margin-right: 9px;
                display: table-cell;

                &.fa-angle-down {
                    margin: 0;
                    font-size: 16px;
                    line-height: 31px;
                }
            }

            img {
                width: 35px;
                position: relative;
                left: -4px;
            }
            span {
                vertical-align: middle;
                position: relative;
                display: table-cell;
                line-height: 17px;
                font-size: 12px;
                font-weight: 500;
            }
        }
    }
    &-submenu {
        display: none;
        &.active {
            display: block;
        }
        a {
            &:after {
                background-color: rgba(#FFF, 0.3) !important;
            }
        }
        li {
            a {
                font-size: 14px;
                color: #FFF;
                padding: 7px 0 7px 35px;
                @include transition(all 0.3s ease-in-out);
                background-color: $cc-secondary;
                &:hover {
                    opacity: 1;
                    padding-left: 40px;
                }
                &.active {
                    padding-left: 40px;
                }
                span {
                    top: 0;
                }
            }
            &:last-child {
                a {
                    &:after {
                        display: none;
                    }
                }
            }
        }
    }
}
