.unicred-modal {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 99;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition: .2s opacity ease;
  text-align: left;
  
  &.-active {
    pointer-events: initial;
    visibility: visible;
    opacity: 1;
  }

  > .wrapper {
    position: relative;
    min-height: 100vh;
  }

  > .wrapper > .background {
    @include overlay();
    background-color: rgba(74, 74, 74, 0.75);
  }

  > .wrapper > .container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
  }
}

unicred-modal-card {
  width: 100%;
  display: flex;
  justify-content: center;
}

.unicred-modal-card {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  overflow: hidden;
  position: relative;
  width: 100%;
  background: #fff;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,0.2);

  &.-small {
    max-width: 418px;
  }

  &.-medium {
    max-width: 710px;
  }

  &.-large {
    max-width: 1009px;
  }

  > .head {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    justify-content: flex-start;
    padding: 10px 15px;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,0.2);

    > .title {
      color: #008777;
      flex-grow: 1;
      flex-shrink: 0;
      font-size: 20px;
      font-weight: bold;
      text-transform: uppercase;
      margin: 0;
    }

    > .delete {
      position: relative;
      height: 12px;
      width: 12px;
      border: none;
      cursor: pointer;
      font-size: 0;
      outline: 0;
      background: none;

      &::before,
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        left: 50%;
        top: 50%;
        background-color: #CCC;
      }

      &::before {
        transform: translate3d(-50%, -50%, 0) rotate(45deg);
      }

      &::after {
        transform: translate3d(-50%, -50%, 0) rotate(-45deg);
      }
    }
  }

  > .body {
    flex-grow: 1;
    flex-shrink: 1;
    overflow: auto;
    padding: 20px;
  }
}