.acompanhamento-proposta {
    .selectCooperativa {
        float: right;
        margin-top: -70px;

        .selectDesc {
            letter-spacing: 0.1px;
            font-size: 14px;
            color: #808285;
            font-weight: 500;
        }

        select {
            width: auto;
        }
    }
}

.cards-wrapper{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;

    & > .card{
        flex: 1 0 0;
        position: relative;
        margin: 10px 0px;
        border-right: 1px solid rgba(151, 151, 151, 0.4);

        &.card-fixo{
            min-width: 230px;
            max-width: 260px;
            border-right: 0px;
        }

        @media (max-width: 1300px) {

            & > .data-card {
                border-right: 0px !important;
            }

            @include qq-greater(4) {
                flex: 1 0 50%;

                &:nth-child(2),
                &:nth-child(4){
                    border-right: 0px;
                }
            }

            &.card-fixo{
                max-width: 100%;
            }

        }

        @media (max-width: 850px){
            @include qq-less(4) {
                flex: 1 0 50%;
            }
        }

        @media (max-width: 662px) {
            flex: 1 0 100% !important;
            border-right: 0px;
        }
    }
}

.data-card {
    height: 100%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;

    > .card-title {
        flex: 0 1 auto;
        color: $cc-primary;
        text-transform: uppercase;
        text-align: center;
        line-height: 30px;
        height: 30px;
    }

    > .card-content {
        flex: 1 1 auto;
        background-color: #fff;
        @include border-radius(3px);
        padding: 15px 5px;
        text-align: left;
        height: 100%;
        box-shadow: 0 2px 5px #e2e2e2;

        > .row {
            margin-bottom: 10px;
        }

        .label-data {
            margin-bottom: 0;
            font-weight: bold;
            font-size: 12px;
            display: block;
            color: #333333;
        }

        .dollar {
            font-size: 80%;
        }

        & > .card-content-wrapper{
            display: flex;
            flex-wrap: wrap;

            .col-auto-width{
                flex: 0 0 auto;
                min-width: calc(50% - 20px);
                margin: 0px 10px 10px;

                &:last-of-type{
                    margin-bottom: 0px;
                }
            }
        }

        &.no-shadow{
            box-shadow: none !important;
        }
    }


    &.card-acoes {
        text-align: center;
        border-right: 0px;

        > .card-content{
            background-color: transparent;
            padding: 0px 10px;

            .centered-buttons{
                @include vertical-align();

                .button-wrapper {
                    margin-bottom: 10px;

                    &:last-of-type{
                        margin-bottom: 0px;
                    }
                }

                @media (max-width: 1300px) {
                    display: flex;
                    flex-wrap: wrap;

                    .button-wrapper {
                        text-align: center;
                        flex: 1 1 auto;
                        min-width: 50%;
                        padding: 10px;

                        > .uni-btns{
                            max-width: 100%;
                        }

                        @include qq-less(2) {
                            padding: 0px;
                        }
                    }
                }

                @media (max-width: 730px) {
                    .button-wrapper {
                        padding: 10px;
                    }
                }

                @media (max-width: 623px) {
                    .button-wrapper {
                        min-width: 100%;
                        padding: 0px;
                        > .uni-btns{
                            max-width: 100%;
                        }
                    }
                }
            }

        }

        .uni-btns {
            width: 100%;
            max-width: 300px;
        }
    }
}

.modal-infos-adicionais {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 800px;
    max-width: 100%;
    max-height: 100%;

    .infos-adicionais-title {
        margin: 0;
    }

    .infos-adicionais-content {
        padding: 20px;
        height: 100%;
        overflow-y: scroll;

        .clipboard-button {
            opacity: 0;
            visibility: hidden;
            @include transition(linear .1s);
            padding: 0;
            min-width: 40px;
            background: #028474;
            color: #fff;

            &:hover {
                background: $cc-btnConfirma;
            }
        }

        tr:first-of-type > td {
            border-top-color: transparent;
        }

        tr:hover .clipboard-button {
            opacity: 1;
            visibility: visible;
        }

        tr > td {
            vertical-align: middle;
        }

        tr > td:first-child {
            font-weight: bold;
        }
    }
}

.modal-documentos {
    background: #fff;

    .uni-modal--close {
        width: 41px;
        height: 41px;

        &::before,
        &::after {
            background: #000;
            width: 34px;
        }
    }

    .uni-modal--content {
        right: initial;
        bottom: initial;
        left: 50%;
        @include transform(translate3d(-50%,-50%,0));
        box-shadow: 0 1px 3px rgba(0,0,0,0.3);

        &.active-modal {
            top: 50%;
        }

        .carousel img {
            max-height: 70vh;
            max-width: 100vw;
        }
    }

    .carousel-control {
        opacity: 0;
        visibility: hidden;
    }

    .carousel-indicators {
        bottom: -50px;
        width: initial;
        margin-left: initial;
        margin-bottom: initial;
        @include transform(translate3d(-50%, 0, 0));

        li {
            border-color: $cc-btnConfirma;
            margin: 0 3px;
            width: 14px;
            height: 14px;
        }

        .active {
            background-color: $cc-btnConfirma;
            @include transition(background-color linear .2s);
        }
    }

    .download-documento {
        position: absolute;
        top: 80px;
        right: 15px;
        font-size: 20px;
        background: #484848;
        border: 0;
        color: $cc-btnConfirma;
        border-radius: 50%;
        width: 41px;
        height: 41px;
        text-align: center;
    }
}
