.page-alteracao{
    margin: 10px 0;
}

.list-steps{
    @include border-radius(6px);
    overflow: hidden;
    margin-top: 30px;

    &-item{
        margin-bottom: 20px;

        &.disabled{
            cursor: not-allowed;
        }
    }

    &-link{
        box-shadow: 0px 1px 8px 0 rgba(0, 0, 0, 0.15);
        border: 0;
        border-bottom: 1px solid #CCC;
        background: #4e4f51;
        text-transform: uppercase;
        text-align: center;
        font-size: 14px;
        display: block;
        color: #FFF;
        padding: 20px 0;
        width: 100%;
        border-radius: 4px;

        &:focus{
            color: #FFF;
            outline: none;
        }

        &.disabled{
            box-shadow: none;
            background: #d0d0d0;
            text-decoration: none;
            pointer-events: none;
        }

        &:active{
            color: #FFF;
        }

        &:hover{
            background: #008777;
            color: #FFF;
            text-decoration: none;
        }
    }
}

.step-voltar{
    margin-right: 10px;
}

.modal-cpf{
    height: 270px;

    .uni-modal{
        &--body{
            width: 60%;
            margin: 0 auto;
            @include vertical-align(relative, 43%);
        }
        &--body-align{
            @include vertical-align(relative, 39%);
        }
    }

    .lb-field{
        margin-bottom: 10px;

        .uni-btns{
            width: 100%;
        }
    }

    .combo-cooperativa{
        margin-bottom: 10px;
    }

    .multi-search{
        margin: 0 auto;
        margin-bottom: 10px;
        text-transform: uppercase;
        width: 100%;
        display: flex;
        flex-direction: row;

        label{
            &.btn{
                width: 100%;
            }

            font-size: 13px;
            line-height: 14px;
            background-color: #e4e4e4;
            border-color: #dddddd !important;
            color: #a7a7a7;

            &.active, &.focus{
                background-color: $cc-btnConfirma;
                border-color: #43c798 !important;
                box-shadow: none !important;
                outline: 0;
                color: #fff;
            }
            &:active{
                background-color: #3dad84;
            }
        }
    }
    .btn-field{
        margin-bottom: 0;
    }

    .erroModalCPF{
        text-align: center;
        width: 100%;
        color: #f54b5e;
        font-size: 13px;
        text-transform: uppercase;
        margin-top: 10px;
    }
}

.modal-status{
    .uni-modal{
        &--body{
            width: 50%;
            margin: 15% auto;
        }
    }

    .user-information{
        width: 80%;
        margin: 0 auto;
        margin-top: 29px;
        text-transform: uppercase;
        color: #008777;
        border-left: 2px solid #00d7be;
        font-size: 12px;
        padding: 3px 10px;
        letter-spacing: 0.5px;

        .user-name{
        }
        .user-cpfCnpj{
            margin-top: 6px;
        }
        .bold{
            font-weight: bold;
        }
        .separator{
            margin: 0 6px;
        }
        .user-matricula{
            display: inline;
            padding-left: 9px;
            margin-left: 6px;
            border-left: 2px solid #00d7be;
        }
        .failedMatricula{
            color: #f8c61c;
            font-size: 14px;
        }
    }

    .status-error{
        position: absolute;

        width: 80%;
        margin-left: 10%;
        margin-top: 15px;

        text-align: center;
        color: $error;
    }

    .hidden-tooltip{
        display: none;
    }

    .status-content{
        @include vertical-align(relative, 24%);
        width: 80%;
        margin: 0 auto;
        margin-bottom: 15%;

    }

    .btns-modal-status{
        width: 80%;
        margin-left: 10%;
        position: absolute;
        bottom: 40px;
    }
    .status-info{
        font-size: 12px;
        width: 80%;
        margin-left: 10%;
        position: absolute;
        bottom: 20px;
        color: #b1b1b1;
    }
}

$loader-border: 3px;
$loader-border-secondary-color: 0.4;
.loader {
    @include border-radius(50%);
    width: 22px;
    height: 22px;
    font-size: 10px;
    margin-top: 4px;
    border-top: $loader-border solid rgba(255, 255, 255, $loader-border-secondary-color);
    border-right: $loader-border solid rgba(255, 255, 255, $loader-border-secondary-color);
    border-bottom: $loader-border solid rgba(255, 255, 255, $loader-border-secondary-color);
    border-left: $loader-border solid #ffffff;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load 0.8s infinite linear;
    animation: load 0.8s infinite linear;
}

.loader-dark{
    border-top: $loader-border solid rgba(162, 162, 162, $loader-border-secondary-color);
    border-right: $loader-border solid rgba(162, 162, 162, $loader-border-secondary-color);
    border-bottom: $loader-border solid rgba(162, 162, 162, $loader-border-secondary-color);
    border-left: $loader-border solid #00d7be;

    &.xs{
        $loader-border-xs: 2px;
        width: 18px;
        height: 18px;
        border-top: $loader-border-xs solid rgba(162, 162, 162, $loader-border-secondary-color);
        border-right: $loader-border-xs solid rgba(162, 162, 162, $loader-border-secondary-color);
        border-bottom: $loader-border-xs solid rgba(162, 162, 162, $loader-border-secondary-color);
        border-left: $loader-border-xs solid #00d7be;
    }
}

$loader-border-sm: 2px;
.loader-sm {
    width: 14px;
    height: 14px;
    border-top: $loader-border solid rgba(162, 162, 162, $loader-border-secondary-color);
    border-right: $loader-border solid rgba(162, 162, 162, $loader-border-secondary-color);
    border-bottom: $loader-border solid rgba(162, 162, 162, $loader-border-secondary-color);
    border-left: $loader-border solid #00d7be;
    display: inline-block;
    position: absolute;
    margin-left: 4px;
    margin-top: 0px;
}

.inline-loader{
    position: relative;
    display: inline-block;
    @include vertical-align();
}

.loader-lg {
    width: 40px;
    height: 40px;
}

@-webkit-keyframes load {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.moment-picker-container{
    .moment-picker-specific-views{
        .selected{
            background-color: #00d7be;
            color: #fff;
            background-image: none;
        }

        .highlighted.selected{
            background-color: #008777;
            color: #fff;
        }
    }
}

.page-header{
    .moment-picker{
        float: left;
    }

    .moment-picker-container{
        font-weight: 400;
        font-size: 15px;
    }

    .dataAnaliseUpdate{
        margin-top: 20px;
        margin-bottom: 19px;
        margin-top: 13px;

        strong{
            color: #333;
            font-size: 15px;
            font-weight: 400;
            display: block;
            margin-bottom: 3px;
            margin-top: 10px;
        }
        .updateDataAnalise{
            text-align: center;
            width: 95px;
            font-weight: 400;
            height: 30px;
            &:focus{
                outline: 0;
                box-shadow: none;
                border: 1px solid #00d7be;
            }
        }
        .info {
            min-width: 95px !important;
            float: left;
            margin-left: 6px;
        }
    }
}

/* Progress Bar */
.savingProgress {
  position: relative;
  height: 4px;
  display: block;
  width: 100%;
  background-color: transparent;
  border-radius: 2px;
  background-clip: padding-box;
  margin-top: 60px;
  overflow: hidden;

  &.active{
      background-color: #cbf1e3 !important;
  }

  .infiniteProgress {
    background-color: #26a69a;
    &:before {
      content: '';
      position: absolute;
      background-color: inherit;
      top: 0;
      left: 0;
      bottom: 0;
      will-change: left, right;
      -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
              animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite; }
    &:after {
      content: '';
      position: absolute;
      background-color: inherit;
      top: 0;
      left: 0;
      bottom: 0;
      will-change: left, right;
      -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
              animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
      -webkit-animation-delay: 1.15s;
              animation-delay: 1.15s; }
    }
}

@-webkit-keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%; }
  60% {
    left: 100%;
    right: -90%; }
  100% {
    left: 100%;
    right: -90%; } }
@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%; }
  60% {
    left: 100%;
    right: -90%; }
  100% {
    left: 100%;
    right: -90%; } }
@-webkit-keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%; }
  60% {
    left: 107%;
    right: -8%; }
  100% {
    left: 107%;
    right: -8%; } }
@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%; }
  60% {
    left: 107%;
    right: -8%; }
  100% {
    left: 107%;
    right: -8%; } }

.pesquisaCadastrado{
    padding-bottom: 15px;
    padding-top: 10px;

    strong {
        font-weight: bold;
    }
}

.searchingCpf{
    margin: 1px auto;
    margin-top: -4px;
    &.active{
        border: 1px solid #cccccc;
        border-top:none;
        @include border-radius(0px);
    }
}

.statusUpdateDataAnalise{
    display: inline-block;
    margin-left: 6px;
    i{
        line-height: 30px;
        &.fa-check{
            color: #26a69a;
        }
        &.fa-times{
            color: #f54b5e;
        }
    }
}

.marginTop20{
    margin-top: 25px;
}

.marginBottom10{
    margin-bottom: 10px;
}

.marginBottom20{
    margin-bottom: 20px;
}

.marginBottom40{
    margin-bottom: 40px;
}

.marginBottom60{
    margin-bottom: 60px;
}

.marginBottom90{
    margin-bottom: 90px;
}

.marginBottom200{
    margin-bottom: 200px;
    @media (max-width: 767px){
        margin-bottom: 295px;
    }
}

.marginBottom0{
    margin-bottom: 0px;
}

.resumo-btn-wrapper, .simulacao-wrapper{
    position: fixed;
    width: calc(100% - 174px);
    @include breakpoint(sx) {
        width: 100%;
    }
}

.resumo-btn-wrapper{
    right: 0px;
    bottom: 0px;
    background-color: #4e4f51;
    height: 40px;
    z-index: 20;

    .resumo-btn{
        color: #fff;
        height: 40px;
        padding: 0 20px;
        border: none;
        font-size: 14px;
        transition: .3s all;

        &.btn-transparent{
            background-color: transparent;

            &.active {
                .fa-angle-up {
                    &:before {
                        content: $fa-var-angle-down;
                    }
                }
            }

            &:hover{
                color: $cc-btnConfirma;
            }

            &:disabled{
                color: #bbb;
                cursor: not-allowed;
            }

            .fa.padding-icon{
                padding: 0 5px 0 0;
            }
        }
        &.btn-green{
            background-color: $cc-primary;
            text-transform: uppercase;
            line-height: 40px;
            text-decoration: none;
            cursor: pointer;
            @include border-radius(5px);

            &:hover{
                background-color: darken($cc-primary, 5%);
            }

            &:disabled{
                opacity: .6;
                cursor: not-allowed;
                &:hover{
                    opacity: .6;
                    background-color: $cc-primary;
                }
            }

            &.btn-right{
                margin-left: 20px;
                @include border-radius(5px 0 0 5px);
                float: right;
                .fa{
                    padding-left: 10px;
                }
            }
            &.btn-left{
                margin-right: 20px;
                @include border-radius(0 5px 5px 0);
                float: left;
                .fa{
                    padding-right: 10px;
                }
            }
        }
        &.btn-right{
            float: right;
        }
        &.btn-left{
            float: left;
        }
    }

}

.resumo-tab{
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;

    &.active{
        transition: .3s all;
        opacity: 0;
    }

    .resumo-btn{
        position: relative;
        display: inline-block;
        padding: 5px 45px;
        font-size: 12px;
        text-transform: uppercase;
        background-color: transparent;
        border: 0px;
        left: 50%;
        top: 0px;
        transform: translateX(-50%) translateY(-28px);
        letter-spacing: .2em;
        transition: .3s all;

        .fa{
            line-height: 22px;
            position: absolute;
            right: 15px;
            top: 0px;
        }

        &:hover{
            .fa{
                animation: open-close 1s infinite;
            }
        }

        @keyframes open-close {
            25% { top: -2px; }
            75% { top: 4px; }
        }

        &.active {
            .fa-angle-up {
                &:before {
                    content: $fa-var-angle-down;
                }
            }
        }

        &:before{
            content: '';
            position: absolute;
            top: 0; right: 0; bottom: 0; left: 0;
            z-index: -1;
            background: #c7c7c7;
            transform: perspective(3px) rotateX(1deg);
            @include border-radius( 5px 5px 0 0);
        }
    }
}

.simulacao-wrapper{
    background-color: #fff;
    border-top: 2px solid #c7c7c7;
    padding: 13px 13px;
    color: #333;
    right: 0px;
    bottom: -121px;
    transition: bottom .5s;
    z-index: 19;
    box-shadow: 0 0px 8px #c5c8c7;

    @media (max-width: 767px){
        bottom: -281px;
    }

    &.active{
        bottom: 40px;
    }

    &.active-more-info{
        transition: .3s all;
        box-shadow: 0px;
    }

    .simulacao-content{
        width: 100%;
        margin: 0 auto;
        z-index: 20;

        @include breakpoint(sx) {
            width: 100%;
        }

        .cooperado-info{
            @include border-radius(5px);
            background: #f4f3f3;
            height: 135px;
            width: 180px;
            margin-left: 0px;
            margin-right: 5px;
            float: left;

            .cooperado-info-in-wrapper{
                text-align: center;
                @include vertical-align();

                .fa{
                    display: block;
                    color: $cc-btnConfirma;
                    font-size: 35px;
                    margin-bottom: 8px;
                }

                .cooperado-nome-titulo-wrapper{
                    display: block;

                    .cooperado-titulo{
                        color: #333;
                        font-size: 14px;
                        margin-bottom: 5px;
                    }

                    .cooperado-nome{
                        color: #9d9d9e;
                        font-size: 15px;
                        text-transform: uppercase;
                    }
                }
            }
        }

        .resumo-more{
            height: 82px;
            width: 60px;
            float: right;
            position: relative;
            text-align: center;

            & button {
              margin: 2.5px;
            }

            .btn-resume {
                @include vertical-align();
                @include border-radius(5px);
                background-color: white;
                width: 45px;
                height: 45px;
                font-size: 21px;
                transition: .3s all;
                border: 1px solid;

                i{
                    transition: .3s transform;
                }

                &.active{
                    border: 1px solid $cc-btnCancel;
                    color: $cc-btnCancel;
                    i{
                        transform: rotate(180deg);
                        vertical-align: sub;
                    }
                }

                &:hover{
                    box-shadow: 0px 2px 8px #bbbbbb;
                }

                &:disabled{
                    border-color: #e4e4e4;
                    color: #e4e4e4;
                    box-shadow: none;

                    cursor: not-allowed;
                    &:hover{
                        box-shadow: none;
                    }
                }

                &.-info {
                  border-color:#5098BC;
                  color: #5098BC;
                }

                &.-danger {
                  border-color:#FFBD02;
                  color: #FFBD02;
                }
            }
        }

        .simulacao-info{
            width: calc(100% - (185px + 65px));
            float: left;

            .vertical-title {
                float:left;
                width:40px;
                height:135px;
                @include border-radius(5px);
                background: $cc-btnConfirma;

                .title-wrapper{
                    @include vertical-align();

                    left: 50%;
                    -webkit-transform: translateY(-50%) translateX(-50%) rotate(-90deg);
                    -ms-transform: translateY(-50%) translateX(-50%) rotate(-90deg);
                    -moz-transform: translateY(-50%) translateX(-50%) rotate(-90deg);
                    transform: translateY(-50%) translateX(-50%) rotate(-90deg);

                    height: 40px;
                    width: 135px;

                    h1 {
                        font-size: 16px;
                        position:relative;
                        color:#333;
                        text-transform:uppercase;
                        font-weight: 400;
                        font-family: "Roboto Condensed" !important;
                        text-align: center;
                        margin: 0px;
                        line-height: 44px;
                    }
                }
            }
            .simulacao-data{
                width: calc(100% - 50px);
                margin-left: 5px;
                float: left;
                background-color: #ffffff;
                min-height: 135px;

                .width-limiter{
                    padding: 0 18px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                }

                .simulacao-top-row{
                    margin: 0px;
                    height: 70px;
                    position: relative;
                }
            }
        }

        @media (max-width: 767px){
            .cooperado-info{
                width: 100%;
                height: 60px;
                margin-left: 0px;
                margin-right: 0px;
                margin-bottom: 5px;

                .cooperado-info-in-wrapper{
                    text-align: center;

                    .fa{
                        display: inline-block;
                        color: $cc-btnConfirma;
                        font-size: 40px;
                        margin-bottom: 0px;
                    }

                    .cooperado-nome-titulo-wrapper{
                        display: inline-block;
                        text-align: left;
                        margin-left: 8px;
                    }
                }
            }
            .resumo-more{
                width: 100%;
                margin-left: 0px;
                height: 60px;

                .btn-more-info{
                    width: 100%;
                }

            }

            .simulacao-info{
                width: 100%;
                float: none;
                min-height: 170px;

                .vertical-title {
                    width:40px;
                    float:left;
                    height:170px;
                    @include border-radius(5px);
                    background: $cc-btnConfirma;
                }
                .simulacao-data{
                    border-left: none;
                    width: calc(100% - 50px);
                    margin-left: 5px;
                    background-color: #ffffff;
                    float: left;
                    min-height: 170px;

                    .width-limiter{
                        padding: 0 18px;
                        height: 100%;
                    }

                    .simulacao-top-row{
                        margin: 0px;
                        min-height: 100px;
                        height: 100px;
                        position: relative;
                    }
                }
            }
        }
    }
}


.col-wrapper{
    text-align: center;
    padding: 0 5px !important;
    flex: 1 1 auto;

    & div{
        text-transform: uppercase;
        &.col-title{
            font-size: 12px;
            margin-bottom: 5px;
            color: $cc-btnConfirmaHover !important;
            font-weight: bold;
        }
        &.col-content{
            font-size: 25px;

            .dollar-symbol{
                font-size: 14px;
            }
        }
    }

    @media (max-width: 1366px){
        & div{
            &.col-content{
                font-size: 17px;

                .dollar-symbol{
                    font-size: 12px;
                }
            }
        }
    }
    @media (max-width: 950px){
        & div{
            &.col-content{
                font-size: 14px;
            }
        }
    }
}

.bottom-wrapper{
    text-align: center;
    height: calc(65px - 4px);
    margin: 0px;
    background-color: #fff;
    position: relative;
    border-top: 1px solid #cfcfcf;

    .col-wrapper-bottom{
        flex: 1 1 auto;
        text-align: left;

        padding: 0 8px;

        &:first-of-type{
            padding: 0 8px 0 0;
        }
        &:last-of-type{
            padding: 0 0 0 8px;
        }

        .col-info{
            font-size: 14px;

            .bold-col-info{
                font-size: 13px;
                color: #9d9d9e;
                display: block;
            }
        }

        @media (max-width: 950px){
            .col-info{
                font-size: 12px;
            }
        }
        @media (max-width: 767px){
            .col-info{
                font-size: 14px;
            }
        }

        .green-info{
            color: $cc-btnConfirmaHover !important;
            font-weight: bold;

            .bold-col-info{
                color: $cc-btnConfirmaHover !important;
            }
        }
    }
}

.valor-parcela{
    color: $cc-btnConfirmaHover !important;
    font-weight: bold;
}

b, strong{
    font-family: "Roboto", sans-serif;
}


.simulacao-mais-informacoes{
    background-color: rgba(59,60,60,0.96);
    color: #fff;
    position: fixed;
    left: 174px;
    overflow-y: auto;
    transition: .5s all;
    text-align: center;
    padding: 25px 20px;
    z-index: 10;

    width: calc(100% - 174px);
    height: calc(100% - (55px + 203px));
    top: 100%;

    @include breakpoint(sx) {
        width: 100%;
        left: 0px;
    }

    &.active{
        top: 55px;
    }

    .close-btn{
        position: absolute;
        right: 20px;
        top: 20px;

        button {
            background-color: transparent;
            border: 1px solid #808285;
            color: #808285;

            width: 45px;
            height: 45px;
            @include border-radius(5px);
            font-size: 21px;

            transition: .3s all;

            &:hover{
                color: #cecece;
                border-color: #cecece;
            }
        }
    }

    .bottom-fixed-info{
        background-color: #808285;
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 51px;
        padding: 10px 0px;

        .information{
            display: inline-block;
            color: #cecece;
            text-align: left;
            margin-right: 10%;

            &:last-of-type{
                margin-right: 0px;
            }

            &-title{
                font-size: 12px;
            }
        }
    }

    .nav-pills {
        text-align:center;
        padding: 20px 0px;
        flex: 0 1 auto;

        & > li {
            float:none;
            display:inline-block;
            *display:inline;
            zoom:1;
            margin-right: 30px;
            font-size: 14px;
            text-transform: uppercase;

            &:last-of-type{
                margin-right: 0px;
            }

            a {
                color: #fff;
                background-color: transparent;
                padding: 5px;
                border-bottom: 2px solid transparent;
                @include border-radius(0px);
                transition: .3s all;

                &:hover{
                    border-color: $cc-primary;
                }
                &:focus{
                    background-color: transparent !important;
                }
            }

            &.active{
                font-weight: bold;

                a {
                    border-bottom: 2px solid $cc-btnConfirma;
                    color: $cc-btnConfirma;

                    &:hover{
                        border-color: $cc-primary;
                        background-color: transparent;
                    }
                }
            }
        }
    }

    .container-wrapper{
        display: flex;
        flex-flow: column;
        height: calc(100% - 51px);

        .container-content{
            flex: 1;

            padding: 18px 0px 30px;
            position: absolute;
            overflow-y: auto;
            height: calc(100% - 178px);
            width: 100%;
            max-width: 1300px;
            left: 50%;
            transform: translateX(-50%);

            .table-wrapper{
                flex: 1;
                width: 100%;
                padding: 0px 45px;

                .table-header-actions{
                    text-align: left;
                    border-bottom: 1px solid #808285;
                    margin-top: 40px;
                    font-size: 24px;
                    padding-bottom: 5px;
                }
                .table-mais-informacoes{
                    width: 100%;
                    text-align: left;
                    font-size: 14px;
                    th{
                        color: #808285;
                        padding: 20px 8px;
                    }
                    tbody{
                        tr{
                            border-bottom: 1px solid #58595a;
                            transition: background-color .2s;
                            &:first-child{
                                & td {
                                    border-top-style: solid;
                                }
                            }
                            td{
                                padding: 8px;
                            }
                            &:hover{
                                background-color: #58595a;
                            }
                        }
                    }
                }
            }

            .resumo-risco{
                width: 100%;
                position: relative;
                padding: 0px 45px;

                .resumo-info{
                    background-color: #58595a;
                    border-radius: 8px;
                    padding: 40px 20px;
                    z-index: 0;
                    position: relative;

                    .total{
                        &-header{
                            color: #cecece;
                            margin-bottom: 5px;
                            font-size: 14px;
                        }
                        &-descricao{
                            color: $cc-btnConfirma;
                            font-size: 28px;
                        }
                    }

                    .tag-risco{
                        @include border-radius(200px);
                        background-color: $cc-btnConfirma;
                        color: #4e4f51;
                        padding: 7px 20px;
                        margin: 20px auto;
                        font-size: 14px;
                        max-width: 240px;
                    }

                    .bolha{
                        width: 90%;
                        margin: 0 0 0 auto;
                        .legenda-indicador{
                            color: #cecece;
                            text-align: center;
                            font-size: 12px;
                        }

                        @media (max-width: 991px){
                            margin: 0 auto;
                        }
                    }
                }
            }

        }
    }

    @media (max-width: 767px){
        z-index: 50;
        height: calc(100% - (55px + 40px));

        .resumo-risco{
            height: 260px !important;
            width: 100% !important;
            border-left: 0px !important;
            padding: 0px 20px !important;

            .resumo-info{
                padding: 20px !important;
            }
        }

        .table-wrapper{
            padding: 0px 30px !important;
            width: 100% !important;
        }

        .container-wrapper{
            .container-content{
                padding: 15px 0px !important;
            }
        }
    }


    @media (max-height: 850px){
        .container-wrapper{
            .container-content{
                height: calc(100% - 130px);
            }
        }
    }

    @media (max-height: 800px){
        padding: 0px 20px;
        .container-wrapper{
            .container-content{
                height: calc(100% - 108px);

                .resumo-info{
                    padding: 25px 20px !important;
                }
            }
        }
    }

    @media (max-height: 635px){
        height: calc(100% - (95px));
        z-index: 90;
    }

}

.alert-wrapper-info{
    flex: 1;
    padding: 18px 0px 30px;
    position: absolute;
    overflow-y: auto;
    height: calc(100% - 142px);
    width: 100%;
    max-width: 1200px;
    left: 50%;
    transform: translateX(-50%);

    .alert-wrapper{
        height: 100%;
        position: relative;

        .alert-center{
            @include vertical-align();
            max-width: 450px;
            margin: 0 auto;
            padding: 65px;
            border-radius: 5px;
            background-color: #58595a;

            .alert-message{
                max-width: 305px;
                margin: 0 auto;

                .warning-key-word{
                    color: $cc-alertColor;
                }
                .error-key-word{
                    color: #f37482;
                }
            }
        }
    }
}

.alert-icon{
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 38px;
    margin: 0 auto 15px;
    border-radius: 100px;
    font-weight: bold;
    text-align: center;
    animation: 2s bouncing infinite;

    &.warning{
        background-color: $cc-alertColor;
        text-shadow: 0 1px 5px #c1bd44;

        &.white{
            color: #fff;
        }
    }

    &.error{
        font-weight: normal;
        background-color: $cc-btnCancel;
        text-shadow: 0 1px 5px #ab2836;
    }

    &.shadow {
        box-shadow: 0 0 9px #a0a0a0;
    }

    &.xs{
        text-align: center;
        width: 18px;
        height: 18px;
        line-height: 18px;
        font-size: 16px;
        margin: 0 auto;
        animation: 2s bouncing-sm infinite;

        span{
            position: absolute;
            left: 0px;
            width: 100%;
        }
    }

}

@keyframes bouncing {
	0%, 20%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    50%{
        transform: translateY(5px);
    }
    60% {
        transform: translateY(-8px);
    }
    70% {
        transform: translateY(2px);
    }
}

@keyframes bouncing-sm {
	0%, 20%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    50%{
        transform: translateY(5px);
    }
    60% {
        transform: translateY(-3px);
    }
    70% {
        transform: translateY(2px);
    }
}

.mCSB_container{
    margin-right: 0px !important;
}
