.row-fluid {
    display: flex;
    align-items: flex-end;
}

.row-fluid > label{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
}

@media screen and (max-width: 992px) {
    .row-fluid {
        display: inline;
        &>label{
            width: 100%;
        }
    }
}
