.desconto-cheques {
  width: 95%;
  margin: 0 auto;
  max-width: 1280px;

  .selectCooperativa {
    float: right;
    margin-top: -70px;

    .selectDesc {
      letter-spacing: 0.1px;
      font-size: 14px;
      color: #808285;
      font-weight: 500;
    }

    select {
      width: auto;
    }
  }

  .filtros-listagem-propostas-wrapper {
    margin-bottom: 7px;

    .filtro-linha {
      display: inline-flex;
      margin-right: 20px;

      .filtro-in {
        font-size: 20px;
        color: #6f7073;
        padding: 5px 12px;
        min-width: 120px;
        text-align: center;
        display: table-cell;
        text-transform: uppercase;
        border-bottom: 3px solid transparent;

        &:hover, &:focus {
          color: #008777;
          text-decoration: none;
        }

        &.active {
          color: #008777;
          border-bottom: 3px solid #008777;
          font-weight: bold;
        }
      }

    }
  }

  .filtros-propostas-wrapper {
    display: flex;
    justify-content: flex-end;
    padding: 10px 15px 0;

    .quantidade-resultados {
      margin-right: 15px;
    }
  }

  .table-listagem-propostas {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;

    th, td {
      padding: 15px 10px;
    }

    td {
      border-top: 1px solid #e0e0e0;
    }

    .button-toggle {
      background: transparent;
      border: 1px solid #cccccc;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;

      .fa {
        font-size: 20px;
        color: #6f7073;
      }
    }

    .hiddenRow {
      padding: 0;
    }

    .celula-tabela-borderos {
      background-color: #f2f2f2;
    }
  }

  .lista-analise-propostas {

    .section-content {
      padding: 0;
    }

    // A sequência a seguir foi copiada do .step-content
    input[type=text], input[type=search]{
      height: 35px;
      @include border-radius(5px);
      border: 1px solid #cccccc;
      width: 100%;
      padding: 0 10px;
      font-size: 14px;
      background: #FFF;
      transition: none;
      font-weight: 400;
      &:focus,
      &:active {
        border-color: $cc-focus;
      }
    }
    select {
      font-size: 14px;
      font-family: $ff-primary;
      font-weight: 400;
      background: #FFF;
      color: #6f7073;
      transition: none;
      &:focus,
      &:active {
        border-color: $cc-focus;
      }
    }
    input,
    select {
      &:disabled {
        background: #e8e8e8;
      }
      &.completed {
        border-color: #0097d6;
      }
    }
    label {
      select {
        font-size: 14px;
        width: 100%;
        @include border-radius(5px);
        border: 1px solid #cccccc;
        height: 35px;
        padding: 0 10px;
      }
      &.radio {
        display: inline-block;
        text-align: center;
        margin: 20px 10px 10px;
        vertical-align: top;
        span {
          font-size: 14px;
          text-align: center;
        }
        input {
          width: 15px;
          height: 15px;
          display: block;
          margin: 0 auto 5px auto !important;
          position: relative !important;
        }
      }

      &.newRadio{
        vertical-align: top;
        margin-top: 28px;
        z-index: 1;

        @media (max-width: 520px){
          margin-top: 0px;
        }

        & input[type=radio]{
          position: absolute;
          visibility: hidden;

          &:checked ~ .check {
            border: 2px solid #959595;
          }

          &:checked ~ .check::before{
            background: darken(#959595, 25%);
          }

          &:checked ~ span{
            color: #000;
          }
        }
        span{
          display: block;
          position: relative;
          font-size: 14px;
          font-weight: 400;
          margin: 2px 10px 0px;
          z-index: 9;
          cursor: pointer;
          -webkit-transition: all 0.15s linear;
          text-align: center;
        }
        .check{
          display: block;
          border: 2px solid #AAAAAA;
          background-color: #fff;
          border-radius: 100%;
          height: 15px;
          width: 15px;
          margin: 0 auto;
          z-index: 5;
          transition: border .15s linear;
          -webkit-transition: border .15s linear;

          &::before {
            display: block;
            content: '';
            border-radius: 100%;
            height: 7px;
            width: 7px;
            top: -25px;
            margin: 0 auto;
            margin-top: 2px;
            transition: background 0.15s linear;
            -webkit-transition: background 0.15s linear;
          }
        }
        &:hover .check{
          border: 2px solid #000;
        }
      }
      &.marginTop{
        margin-top: 5px;
      }
    }
  }


  .lista-propostas-resumo {
    position: fixed;
    width: calc(100% - 174px);
    background-color: #fff;
    border-top: 2px solid #c7c7c7;
    padding: 13px 13px;
    color: #333;
    right: 0;
    bottom: -112px;
    transition: bottom .5s;
    z-index: 19;
    box-shadow: 0 0 8px #c5c8c7;

    @media screen and (max-width: 1024px) {
      width: 100%;
    }

    &.active {
      bottom: 0;
    }

    .resumo-tab {
      z-index: -1;
    }
  }

  .risco-cheque {
    border-left: 3px solid transparent;
    padding-left: 3px;

    &.risco-ALTO, &.risco-ALTISSIMO, &.risco-INDISPONIVEL {
      border-left-color: #F54B5E;
    }
    &.risco-MEDIO {
      border-left-color: #FFBD02;
    }
    &.risco-BAIXO {
      border-left-color: #48D2A0;
    }
  }

  .filter-wrapper {
    position: relative;

    input {
      &.filter-input {
        border-radius: unset;
        background: unset;
        border: 0;

        border-bottom: 1px solid #bbbdbf;
        margin: 0 auto;
        padding: 0;
        padding-right: 19px;

        @include transition(.3s border-bottom);

        @include placeholder-style {
          font-weight: bold;
        }

        &:active, &.active, &:focus {
          border-bottom: 1px solid $cc-primary;
        }
      }
    }

    .filter-select {
      border-radius: unset;
      background: unset;
      border: 0px;
      border-bottom: 1px solid #bbbdbf;
      margin: 0 auto;
      height: 35px;
      max-width: calc(100% - 10px);
      min-width: 100px;
      font-weight: bold;

      &.large {
        min-width: 150px;
      }
    }

    .icon {
      position: absolute;
      right: 5px;
      bottom: 13px;
      color: $cc-primary;
      transform: rotateY(180deg);
    }

    .btn-clear {
      position: absolute;
      right: 5px;
      bottom: 11px;
      padding: 0px;
      color: $cc-primary;
      height: 17px;
      width: 17px;
      background-color: #e4e4e4;
      border: 0px;
      @include border-radius(100px);
      transition: .3s opacity;

      &:hover {
        opacity: 0.8;
      }

      .close {
        background: transparent;
        position: absolute;
        border: none;
        border-radius: 25px;
        color: #FFF;
        right: 2px;
        bottom: 2px;
        width: 13px;
        height: 13px;
        text-align: center;
        font-size: 13px;
        font-family: Helvetica;
        line-height: 9px;
        opacity: 1;

        &::before, &::after {
          content: '';
          position: absolute;
          height: 1px;
          width: 100%;
          top: 50%;
          left: 0px;
          margin-top: -1px;
          background: #828282;
        }
        &::before {
          @include transform(rotate(45deg));
        }
        &::after {
          @include transform(rotate(-45deg));
        }
      }
    }
  }

  .table-listar-borderos {
    background-color: transparent;
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    margin-bottom: 15px;

    & > tbody {
      background-color: #fff;
    }

    td {
      padding: 5px 10px;
    }
  }

  .carregar-historico-wrapper {
    padding: 0 10px 10px;
  }

  .historico-borderos-titulo {
    font-size: 14px;
    text-transform: uppercase;
    padding: 0 10px;
    margin: 15px 0 0;
    color: #008777;
  }

  .celula-tabela-cheques {
    background-color: #f2f2f2;
    padding: 0;
  }

  .table-listar-cheques {
    background-color: transparent;
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;

    th {
      padding: 7px 5px;
      font-size: 12px;

      input[type=text], input[type=search] {
        font-size: 12px;
      }
    }

    td {
      padding: 5px 5px;
      font-size: 12px;
    }
  }

  .cheques-selecionados-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cheques-selecionados, .cheques-selecionados-botoes {
    margin: 0 10px;
  }

  .numero-cheques-selecionados {
    font-size: 26px;
  }

  .cheques-selecionados-botoes {
    .uni-btns {
      margin-bottom: 10px;
      display: block;

      &:last-child {
        margin-bottom: 0;
      }

      &.btn-cancelar-outline {
        border-color: #ccc;
        background-color: #fff;
        color: #ccc;
        box-shadow: none;

				&:hover,&:focus{
					border-color: #a3333f;
					color: #a3333f;
				}

				&:disabled,
				&.disabled{
          border-color: #ddd;
          color: #ddd;
					cursor: not-allowed;
				}
      }
    }
  }
}

// TODO: mover para um arquivo separado?
.filtro-ordenacao {
  a {
    color: #757575;
    text-decoration: none;

    // ícone fontawesome
    i {
        color: #008777;
    }
  }
  a:hover {
    color: #008777
  }
}

// TODO: mover para um arquivo separado?
.semaforo {
  &.semaforo-verde {
    color: #48D2A0;
  }
  &.semaforo-amarelo {
    color: #FFBD02;
  }
  &.semaforo-vermelho {
    color: #F54B5E;
  }
}
