.garantias-component {
  .section-content {
    padding: 8px;
  }

  .unicred-modal-card {
    margin-bottom: 40px;
  }

  .unicred-buttons {
    margin-bottom: 25px;
  }

  .garantia-actions {
    display: flex;
    padding-top: 25px;
    justify-content: flex-end;

    .unicred-button {
      margin-left: 15px;
    }
  }

  .empty-list {
    opacity: 0.5;
    color: #808285;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0;
  }
}

.acoes-garantias {
  padding: 20px;
  padding-bottom: 16px;
  border-bottom: 1px solid #DEDEDE;

  .label-list {
    display: flex;
    margin-bottom: 30px;

    .label-item {
      margin-right: 15px;
      font-size: 12px;
      color: #808285;
    }
  }

  .label-list .label-item::before,
  .unicred-dropdown > .menu > .item::before {
    content: '';
    display: inline-block;
    margin-right: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #008777;
  }

  .label-list .label-item.-warning::before,
  .unicred-dropdown > .menu .item.-warning::before {
    background-color: #FFBD02;
  }

  > .acoes {
    display: flex;
    flex-wrap: wrap;

    > .unicred-button,
    > .unicred-dropdown, {
      margin-right: 20px;
      margin-bottom: 20px;
    }
  }
}

.lista-garantias {
  padding: 20px;

  > .title {
    color: #008777;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 30px;
  }

  .unicred-alternative-table {
    .column-label {
      color: #808285;
      font-size: 12px;
      text-transform: initial;
      margin-right: 5px;
      margin-left: 23px;

      &:first-child {
        margin-left: 0;
      }
    }

    td.warning-alert {
      position: relative;

      .unicred-tooltip {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 16px;
        background-color: #FFBD02;
        border-radius: 5px 0 0 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: initial;
        color: #fff;
      }
    }
  }

  > .empty-list {
      opacity: 0.5;
      color: #808285;
      font-size: 14px;
      text-align: center;
      text-transform: uppercase;
      padding: 30px 0;
  }
}

.garantias-avalista {
  .unicred-field {
    > .control {
      position: relative;

      > .input {
        padding-right: 28px;
      }
    }
  }
}

// .garantias-veiculo
.infos-veiculos {
  padding-top: 6px;
  padding-right: 24px;
  padding-bottom: 6px;
}
