.login-content {
    height: 60vh;
    background: #004b35;
    display: block;
    padding-top: 42px;
    @include breakpoint(480px, max) {
        height: 80vh;
    }
    .logo {
        text-align: center;
        display: block;
        width: 100%;
        margin-bottom: 75px;
    }
    &_title {
        text-align: center;
        width: 100%;
        h1 {
            color: #FFF;
            font-size: 32px;
            font-weight: 400;
            display: block;
            margin-bottom: 90px;
        }
        h2 {
            color: #FFF;
            font-size: 27px;
            font-weight: 300;
            display: block;
            margin-bottom: 23px;
        }
    }
    &_form {
        width: 393px;
        height: 426px;
        margin: 0 auto;
        display: block;
        background: #FFF;
        @include border-radius(5px);
        padding: 60px 33px;
        @include box-shadow(8px 24px 54px rgba(0, 75, 53, 0.17));
        @include breakpoint(480px, max) {
            width: 100%;
            height: auto;
        }
        h1 {
            color: #777777;
            font-size: 18px;
            font-weight: 400;
            text-align: center;
            margin-bottom: 40px;
        }
        label {
            width: 100%;
            margin-bottom: 21px;
            display: block;
            &:last-child {
                margin-bottom: 0;
            }
            &.error {
                input,
                select {
                    border-color: $cc-error;
                    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba($cc-error, .6);
                }
            }
            input {
                background: #ededed;
                height: 49px;
                width: 100%;
                @include border-radius(5px);
                border: 0;
                padding: 0 14px;
                font-size: 18px;
                font-weight: 400;
                color: #777777;
                border: 1px solid #ededed;
                &:focus {
                    border-color: $cc-focus;
                    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba($cc-focus, .6);
                }
            }
            .cooperativa_text {
                color: #777777;
                font-size: 16px;
                font-weight: 400;
                display: inline-block;
                float: left;
                line-height: 42px;
                margin-right: 10px;
                @include breakpoint(480px, max) {
                    display: block;
                    float: none;
                }
            }
            &.select-cooperativa {
                padding-left: 20px;
                margin-bottom: 56px;
                @include breakpoint(480px, max) {
                    padding-left: 0;
                }
            }
            &.login-buttons {
                padding: 0;
                @include breakpoint(480px, max) {
                    padding: 0;
                }
            }
            .btn-login {
                width: 100%;
                @include border-radius(10px);
                background: #008777;
                color: #FFF;
                font-size: 18px;
                font-weight: 400;
                text-align: center;
                text-transform: uppercase;
                padding: 17px 0;
                border: 0;
                cursor: pointer;
                &:hover,
                &:focus {
                    background: $cc-primary-hover;
                }
            }
        }
        .select {
            width: 108px;
            height: 42px;
            float: left;
            @include breakpoint(480px, max) {
                width: 100%;
            }
        }
    }
    .select2-container--default {
        &.select2-container--focus {
            .select2-selection {
                border-color: $cc-focus;
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba($cc-focus, .6);
            }
        }
        .select2-results__option--highlighted[aria-selected] {
            background-color: #00B19A;
        }
        &.select2-container--open {
            .select2-selection--single {
                border-color: $cc-focus;
            }
        }
        .select2-selection--single {
            border: 1px solid rgb(169, 171, 175);
            @include border-radius(10px);
            height: 42px;
            .select2-selection__arrow {
                top: 7px;
                right: 8px;
                pointer-events: none;
                b {
                    border-color: #a7a9ac transparent transparent transparent;
                    border-width: 5px 5px 0 5px;
                }
            }
            .select2-selection__rendered {
                color: #4e4f51;
                line-height: 42px;
                font-size: 18px;
                font-weight: bold;
                padding: 0 13px;
                &:hover {
                    opacity: 0.8;
                }
            }
        }
        .select2-search--dropdown {
            .select2-search__field {
                border-color: #c5c5c5 !important;
            }
        }
    }
}

.select2-dropdown.select2-dropdown--below {
    border-color: #00B19A;
}

#username, #password{
    text-transform: lowercase;
}
