.content {
    width: calc(100% - 174px);
    padding: 31px 65px;
    float: right;
    margin-top: 66px;
    @include breakpoint(sx) {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        float: none;
        position: relative;
        padding-top: 66px;
        margin-top: 0;
    }
}

.login-page {
    .header-sidebar {
        display: none;
    }
    .content {
        padding: 0;
        width: 100%;
        float: none;
        margin-top: 0;
    }
}

[mass-autocomplete] {
    position: relative;
}

.ac-container {
    left: 0 !important;
    top: 31px !important;
    .ac-menu {
        a {
            font-size: 14px !important;
            font-weight: 400;
            padding-left: 10px !important;
        }
        .ac-state-focus {
            background-color: rgba(101, 101, 101, 0.1) !important;
        }
        &-item {
            &:hover {
                background-color: rgba(101, 101, 101, 0.1) !important;
            }
        }
    }
}

.fa-spinner {
    color: #11a190;
    margin-top: 25px;
    margin-left: -10px;
    &.animate {
        @include animation(loading 1s linear infinite);
        font-size: 19px;
    }
}

@include keyframes(loading) {
    from {
        @include transform(rotate(0deg));
    }
    to {
        @include transform(rotate(360deg));
    }
}

.modal {
    &-title {
        margin: 0;
        line-height: 1.42857;
        font-size: 23px;
        font-weight: 400;
        float: left;
    }
    &-header {
        padding-bottom: 0;
        .close {
            float: right;
            font-size: 24px;
            background: none;
            border: 0;
            cursor: pointer;
        }
    }
    &-header,
    &-body {
        border-bottom: 0;
        padding: 5px 20px 20px;
    }
    &-body {
        padding-left: 20px;
        padding-bottom: 10px;
        padding-top: 10px;
    }
}

#helpModal {
    .modal-dialog {
        width: 900px;
    }
}

.help {
    &-close {
        font-size: 15px;
        color: #93a1a1;
        font-family: 'Helvetica Neue', 'Helvetica', 'Arial';
        background: none;
        border: 0;
        float: right;
        cursor: pointer;
        position: relative;
        top: -8px;
        right: -10px;
        &:hover {
            color: #656b6b;
        }
    }
    &-component {
        padding: 15px;
    }
    &-body {
        .help-title {
            font-size: 24px;
            font-weight: bold;
            color: #444;
            margin-bottom: 10px;
        }
    }
    &-form {
        position: relative;
    }
    &-form-input {
        height: 53px;
        width: 100%;
        input {
            border: 0;
            @include border-radius(8px);
            background-color: rgba(226, 226, 226, 0.72);
            padding: 5px 55px 5px 15px;
            width: 100%;
            height: 100%;
            font-size: 19px;
        }
    }
    &-form-submit {
        position: absolute;
        right: 0;
        top: 0;
        button {
            height: 53px;
            padding: 0 15px;
            font-size: 20px;
            color: #a7a7a7;
            background: none;
            border: 0;
            cursor: pointer;
            &:hover {
                opacity: 0.7;
            }
        }
    }
    &-topics {
        width: 100%;
    }
    &-expand {
        text-align: left;
        display: block;
        width: 100%;
        border: 0;
        padding: 8px 15px;
        color: #008877;
        font-size: 15px;
        font-weight: bold;
        background: none;
        font-family: $ff-primary;
        cursor: pointer;
        &:hover {
            background: rgba(234, 234, 234, 0.73);
        }
        span {
            font-weight: 400;
        }
        .fa {
            font-size: 14px;
            position: relative;
            top: 0px;
            margin-right: 2px;
        }
    }
    &-content {
        max-height: 500px;
        overflow: auto;
        display: none;
        padding: 15px 32px 20px 32px;
        border-bottom: 1px solid #CCC;
        line-height: 23px;
    }
}

.modal-footer {
    background: #FFF;
}

.message-login {
    display: block;
    text-align: center;
    margin-top: -30px;
    margin-bottom: 10px;
    color: #d80000;
    font-size: 14px;
}

.page{
    &-header{
        @include clearfix;
        padding: 10px 0;
        border-bottom: 1px solid #dedede;
        margin: 0;

        h1{
            letter-spacing: 0.5px;
            font-weight: 400;
        }

        @include breakpoint(sx){
            margin-top: 20px;
        }

        &--title{
            text-transform: uppercase;
            vertical-align: middle;
            display: inline-block;
            margin-bottom: 20px;
            line-height: 28px;
            color: #008777;
            font-size: 20px;
            margin: 0;

            &-bold{
                font-weight: bold;
            }
        }

        &--user{
            float: right;
            display: inline-block;
            text-align: right;
            font-size: 13px;
            color: #008777;
            text-transform: uppercase;
            vertical-align: middle;
        }

        &--nome{
            display: block;
            margin-bottom: 5px;
            letter-spacing: 0.5px;
        }

        &--dados{
            display: block;
            margin-bottom: 5px;
            &.-noName{
                line-height: 28px;
            }
        }

        .separator{
            border-left: 2px solid #00d7be;
            margin-right: 7px;
            margin-left: 4px;
        }
    }
}

.combo-cooperativa {
    margin-bottom: 13px;

    &:disabled,
    &[disabled]{

        .ui-select-match,
        .select2-arrow{
            cursor: not-allowed;
            background: #e4e4e4 !important;
        }

        .select2-chosen{
            color: #a7a7a7 !important;
        }
    }
}

.select2-container .select2-choice abbr,
.select2-container .select2-choice .select2-arrow b,
.select2-search input,
html[dir="rtl"] .select2-search input,
.select2-search-choice-close{
    background: none;
}

.login-content_form{
    .select2-container .select2-choice > .select2-chosen{
        color: #737373;
    }

    .select2-results .select2-highlighted{
        background: #008777;
    }

    label{
        input{
            color: #999;
        }

        .select2-search{
            > input{
                padding: 0 6px;
                background: #FFF;
                border: 1px solid #bfbfbf;
                height: 35px !important;
                border-radius: 0;

                &:focus{
                    box-shadow: none;
                    border-color: #bfbfbf;
                }
            }
        }
    }
}

.ui-select-bootstrap > .ui-select-match > .btn{
    padding: 6px 22px 6px 12px;
}

.ui-select-dropdown.dropdown-menu{
    width: 100%;

    .ui-select-choices-row.active{
        .ui-select-choices-row-inner{
            background-color: #008777;
        }
    }
}

.select2-container .select2-choice > .select2-chosen{
    font-size: 16px;
    height: 100%;
    line-height: 33px;
    color: #999;
    font-weight: 400;
}

hr.hr-separator{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

.tableListas{
    background-color: #fff;
    padding: 5px 10px 10px 10px;
    @include border-radius(5px);
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px #f0f0f0;
    border-collapse: separate;
    border-spacing: 0;


    th{
        text-transform: uppercase;
        font-weight: 400;
        border-bottom: 0px solid #4e4f51 !important;
        color: #6f7073;
    }
    tbody{
        tr{
            min-height: 60px;
            &:nth-child(even) {
                background: #f4f3f3;
            }
            &:nth-child(odd) {
                background: #fff;
            }
            &:first-child{
                & td {
                    border-top-style: solid;
                }
            }
            td{
                border: 1px solid #cccccc;
                border-style: none none solid none;
                &:first-child{
                    border-left-style: solid;
                    @include border-radius(5px 0px 0px 5px);
                }
                &:last-child{
                    border-right-style: solid;
                    @include border-radius(0 5px 5px 0);
                }

                text-transform: uppercase;
                & button{
                    font-size: 12px;
                    color: #fff;
                    padding: 5px;
                    width: 22px;
                    height: 22px;
                    margin: 0px 2.5px 2.5px;
                    margin-top: -1px;
                    line-height: 11px;
                    @include transition(.2s background-color);
                    border: 0;

                    @include border-radius(3px);
                    &.btn-danger{
                        background: $cc-btnCancel;
                        &:hover{
                            text-decoration: none;
                            background-color: $cc-btnCancelHover;
                        }
                        &:disabled {
                            background-color: $cc-btnCancelDisabled;
                        }
                        &:before{
                            margin-left: -1px;
                        }
                    }

                    &.btn-warning{
                        background-color: #f8c61c;
                        &:hover{
                            text-decoration: none;
                            background-color: darken(#f8c61c, 15%);
                        }
                        &:disabled {
                            background-color: lighten(#f8c61c, 15%);
                        }
                        &:before{
                            margin-left: 1px;
                        }
                    }

                    &.btn-viz{
                        background-color: #008777;
                        color: #fff;
                        &:hover{
                            text-decoration: none;
                            background-color: darken(#008777, 15%);
                        }
                        &:disabled {
                            background-color: lighten(#008777, 15%);
                        }
                    }
                }
            }
            &.separator{
                td{
                    background-color: #fff !important;
                    border: none;
                    padding: 0;
                    height: 10px;
                }
            }
            &.innerTitle{
                td{
                    &:first-child{
                        border-top-style: solid;
                        @include border-radius(5px);
                    }
                    background-color: #4e4f51;
                    color: #fff;
                    font-size: 13px;
                    position: relative;
                    padding: 4px 8px;
                }
            }
        }
    }
}

.select-radio{
    position: relative !important;
    width: 17px;
    height: 17px;
    margin: 0px !important;
    cursor: pointer;
    vertical-align: middle;
}

.linhaDeCreditoInfo{

    .height-limit{
        max-height: 350px;
        height: 100vh;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .info-taxas{
        background: #fff;
        height: 350px;
        text-align: center;
        @include border-radius(5px);

        @media (max-width: 767px){
            margin-bottom: 15px;
        }

        .taxas-wrapper{
            @include vertical-align();

            .taxa{
                margin: 0 auto;
                margin-bottom: 15px;
                width: 86%;

                &.green-info{
                    .taxa-descricao, .taxa-valor{
                        color: #008777;
                        text-align: center;
                    }
                }
                &-descricao, &-valor{
                    display: block;
                }
                &-descricao{
                    font-size: 14px;
                    color: #6f7073;
                }
                &-valor{
                    font-size: 24px;

                    &.select-risco{
                        width: 100%;
                        height: 34px;
                        text-align-last: center;
                        margin: 0 auto;
                        border: 1px solid #cccccc;
                        @include border-radius(5px);

                        &:active{
                            border: 1px solid $cc-btnConfirma;
                        }
                    }
                }
                &:last-of-type{
                    margin-bottom: 0px;
                }
            }
        }
    }
}

.height-limit-350{
    max-height: 350px;
}

.table-interna{
    background-color: transparent;
    width: 100%;
    font-size: 14px;

    &.--font12{
        font-size: 12px;
    }

    thead{
        background-color: transparent;
    }
    th{
        border: none;
        text-transform: capitalize;
        font-weight: bold;
        border-bottom: 0px solid #4e4f51 !important;
        color: inherit;
        text-align: center;
        padding-bottom: 10px;
    }
    & > tbody{
        color: inherit;
        tr{
            border: 0px !important;
            td{
                padding: 6px 0px;
            }
            &:nth-child(even) {
                background: transparent;
            }
            &:nth-child(odd) {
                background: transparent;
            }
            &:hover{
                td{
                    @include transition();
                    background-color: #ffffff;
                    color: #6f7073;
                }
            }
            &.hiddenTR:hover{
                td{
                    background-color: #ffffff;
                    border: none;
                }
            }
        }
    }
}

.lone-section-wrapper{
    padding: 3px 20px 17px;
}

.center-content{
    margin: 0 auto !important;
}

.loading-wrapper{
    text-align: center;
    .loader{
        margin-bottom: 5px !important;
    }
    .loader-text{
        text-transform: none;

        p{
            margin: 0px;
        }

        & .error{
            color: #4e4f51;
            &.bold{
                font-weight: bold;
            }
            &.skinny{
                font-weight: 300;
            }
        }
    }
}

input.ng-invalid.has-error{
    border: 1px solid $cc-btnCancel !important;
}
label.control-label.has-error.validationMessage{
    position: absolute;
    color: #f54b5e !important;
    font-weight: 400;
    font-size: 12px;
    margin-top: 2px;
}

.vertical-aligned-loading{
    @include vertical-align(absolute, 50%);
    right: 50%;
    width: 100%;
    transform: translateY(-50%) translateX(50%);

    .error-icon{
        img{
            width: 50px;
            margin-bottom: 12px;
        }
    }
}

input.tableRadioCheckbox {
    -webkit-appearance: none;
    background-color: transparent;
    border: 1px solid #cacece;
    padding: 9px;
    margin: 0px;
    @include border-radius(3px);
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    cursor: pointer;

    &:active, &:checked:active{
        box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
    }

    &:focus{
        outline: 0;
    }

    &:checked {
        border: 1px solid #adb8c0;
        color: #99a1a7;
        font-family: FontAwesome;

        &:after {
            content: "\f00c";
            font-size: 16px;
            position: absolute;
            top: 0px;
            left: 1px;
            color: $cc-btnConfirma;
        }
    }
}

.flag-seguro-prestamista{
    font-size: 14px;
    line-height: 20px;
    &>button.btn{
        padding: 0px !important;
        width: 20px;
        height: 20px;

        span.glyphicon{
            color: $cc-btnConfirma;

            &-ok{
                font-family: FontAwesome !important;
                &:before{
                    content: "\f00c" !important;
                    font-size: 16px;
                    top: -14px;
                    left: -2px;
                    position: absolute;
                }
            }
        }

        &:hover, &:target, &:active, &:focus{
            outline: none;
            box-shadow: 0px;
            background: transparent;
        }
        &.checked{
            border-color: $cc-btnConfirma;
        }
    }
}

.select-form {
    font-size: 14px;
    font-family: $ff-primary;
    font-weight: 400;
    background: #FFF;
    color: #6f7073;
    @include transition(none);
    border: 1px solid #cccccc;
    padding: 0 10px;
    height: 35px;
    @include border-radius(5px);

    &:focus,
    &:active {
        border-color: $cc-focus;
    }

    &:disabled {
        background: #e8e8e8;
    }
    &.completed {
        border-color: #0097d6;
    }
}


.row.no-gutters {
    margin-right: 0;
    margin-left: 0;

    > [class*="col-"] {
        padding-right: 0;
        padding-left: 0;
    }
}

.resumo-informacao-principal{
    text-align: center;
    .informacao{
        &-topo{
            padding: 10px 10px 30px;
        }
        &-central{
            text-align: left;
            color: #fff !important;
            background: linear-gradient(147deg, #0ed9ca, #20473d);

            width: calc(100% + 40px);
            position: relative;
            left: -20px;

            padding: 40px 20px;

            &.grey-center{
                color: #333 !important;
                background: #e4e4e4;
            }
        }
        &-rodape{
            padding: 30px 10px 10px;

            &.has-loading{
                padding: 0px 10px 10px;
            }
        }

    }
    .conteudo{
        max-width: 80%;
        margin: 0 auto;

        &-inner{
            margin: 15px 0px;

            .conteudo{
                &-label, &-descricao{
                    text-transform: uppercase;
                }
                &-label{
                    font-size: 12px;
                    margin-bottom: 5px;
                }
                &-descricao{
                    font-size: 30px;
                    line-height: 30px;

                    &.normal{
                        font-size: 25px;
                        line-height: 25px;
                    }
                }
            }
        }
    }
}

.proposta-resumo{
  vertical-align: middle;
   &-mensagem-sucesso-title {
    text-transform: uppercase;
    display: inline-block;
    line-height: 28px;
    color: #008777;
    font-size: 20px;
    margin: 0;
    font-weight: bold;
    margin-top: 30px;
  }
  &-mensagem-sucesso-content {
    display: inline-block;
    color: #808285;
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
    margin-top: 5px;
    &-bold {
      font-weight: bold;
    }
  }
  &-mensagem-sucesso-icon {
    margin-top: 15px;
  }
}

.input-transparente{
    border-color: #cccccc !important;
    background-color: transparent !important;
}

.cooperado-info-wrapper{

    .fa{
        display: block;
        color: $cc-btnConfirma;
        font-size: 35px;
        margin-bottom: 8px;
    }

    .cooperado-nome-titulo-wrapper{
        display: block;

        .cooperado-titulo{
            color: #333;
            font-size: 14px;
        }

        .cooperado-nome{
            color: #9d9d9e;
            font-size: 15px;
            line-height: 15px;
            text-transform: uppercase;
        }
    }
}
.informacao-central{
  .conteudo{
    .row{
      text-align: center;
    }
  }
}

.header-interno{
    margin: 10px 0;
    padding-bottom: 6px;
    font-size: 24px;
    border-bottom: 1px solid $cc-btnConfirma;
    text-align: center;
}

.resumo-infos-linha-de-credito{
    background-color: #58595a;
    // background-color: #f4f3f3;
    color: #fff;
    @include border-radius(5px);
    padding: 10px 10px;
    margin: 10px 0px;

    .descricao{
        text-align: center;
        padding: 6px 0px;

        &-label{
            text-transform: uppercase;
            font-size: 12px;
        }

        &-valor{
            color: $cc-btnConfirma;
            font-weight: bold;
            font-size: 18px;
            line-height: 20px;
        }
    }
}

.header-infos-linha-de-credito{
    margin: 30px 0px 25px;

    .descricao{
        padding: 6px 0px;

        &-label{
            text-transform: uppercase;
            font-size: 12px;
        }

        &-valor{
            text-transform: uppercase;
            font-weight: bold;
        }
    }
}

.linhaDeCreditoInfoWrapper{
    background-color: #f4f3f3;
    @include border-radius(5px);
    padding: 15px;
}

.shadow-box{
    box-shadow: 0 5px 5px 0 rgba(81, 81, 77, 0.25);
}

.simulacao-bloqueada{
    background-color: $cc-btnCancel;
    @include border-radius(3px);
    padding: 6px;
    text-align: center;
    color: #fff !important;
    margin: 0px 0px 12px !important;
}


.btn-label-tooltip{
    display: inline;
    position: relative;

    .tooltip-v{
        display: block;
        margin-bottom: 0px;
        font-size: 12px;
        position: absolute;
        width: 100%;
        text-align: center;
        top: -20px;
        left: 0px;
        padding-right: 15px;
        font-weight: normal;
        color: #d0d0d0;

        .label-tooltip{
            font-weight: inherit;
            margin-bottom: 0px;
        }

        .tooltiptext.tooltip-bottom {
            text-align: center;
            width: 176px;
            margin-left: -98px;
            padding: 6px 10px;
            font-size: 12px;
            top: calc(100% + 3px);
        }
    }
    .uni-btns{
        letter-spacing: .9px;
    }
}


.filtros-acompanhamento-wrapper{
    .filtro{
        display: inline-flex;
        margin-bottom: 10px;
        margin-right: 8px;

        &:last-of-type{
            margin-right: 0px;
        }

        .filtro-in{
            color: #6f7073;
            padding: 7px 27px;
            min-width: 120px;
            text-align: center;
            display: table-cell;

            @include border-radius(100px);
            background-color: #f9fbfb;
            box-shadow: 0 5px 8px 0 rgba(151, 151, 151, 0.14);
            border: solid 1px #dee6e4;

            @include transition();

            &:hover{
                background-color: #fff;
                box-shadow: 0 4px 7px 0 rgba(151, 151, 151, 0.25);
            }

            .numero-itens, .label-filtro{
                display: block;
            }
            .numero-itens{
                font-size: 18px;
                font-weight: bold;

                &.negativo{
                    color: $cc-btnCancel;
                }
                &.positivo{
                    color: $cc-btnConfirma;
                }
            }
            .label-filtro{
                font-size: 14px;
                text-transform: uppercase;
            }

            &.active{
                background-color: $cc-primary;
                border: 1px solid #56b6aa;
                box-shadow: none;

                .label-filtro{
                    color: #fff;
                }

                .numero-itens{
                    color: #dadada;
                    text-shadow: 0 0px 5px #6f6f6f;

                    &.negativo{
                        color: #f3b2b9;
                    }
                    &.positivo{
                        color: $cc-btnConfirma;
                    }
                }
            }

            &:disabled, &.disabled{
                pointer-events: none;
                background-color: #e8e8e8;
                border: 1px solid #dedede;
                box-shadow: none;
                opacity: .6;

                .numero-itens{
                    color: #6f7073 !important;
                }

                &:hover{
                    text-decoration: none;
                }
            }

        }

    }
    .filtro-linha{
        display: inline-flex;
        margin-right: 20px;

        &:last-of-type{
            margin-right: 0px;
        }

        .filtro-in{
            color: #6f7073;
            padding: 5px 12px;
            min-width: 120px;
            text-align: center;
            display: table-cell;
            text-transform: uppercase;

            &.size20{
                font-size: 20px;
            }

            border-bottom: 3px solid transparent;

            @include transition();

            &:hover, &:focus{
                color: $cc-primary;
                text-decoration: none;
            }

            &.active{
                color: $cc-primary;
                border-bottom: 3px solid $cc-primary;
                font-weight: bold;
            }
        }
    }

    &.header-acompanhamento{
        margin-bottom: 27px;
    }
}

.acompanhamento-wrapper{
    @include transition(visibility 0s linear 0s, opacity 300ms, transform 300ms);

    &.disabled{
        @include transition(0s all);
        @include transform(scale(0.95, 1));
        position: absolute;
        opacity: 0;
        visibility: hidden;
    }
}

.relative-parent{
    position: relative;
}

.filtros-cooperativa {
    display: block;

    .selectCooperativa{
        margin-left: 35px;

        &:last-of-type{
            margin-left: 0px;
        }
    }

    .label-filtro{
        letter-spacing: 0.1px;
        font-size: 14px;
        color: #808285;
        font-weight: 500;
        text-align: center;
    }

    $tamanho-da-borda: 2px;

    .select-filtro {
        display: block;
        background-color: transparent;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        color: #555555;
        border: 0px;
        border-bottom: $tamanho-da-borda solid $cc-btnConfirma;

        &.disabled {
            opacity: 1;
            cursor: not-allowed;
            border-bottom: $tamanho-da-borda solid #969696;
            opacity: 0.55;
        }
    }
}
